@model LifelogBb.Models.Entities.EnduranceTraining

@{
    ViewData["Title"] = "Endurance Training - Delete";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>EnduranceTraining</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Exercise)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Exercise)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Distance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Distance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Notes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rating, "Rating")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-6"><a class="btn btn-secondary btn-lg" asp-action="Index"><i class="fa-solid fa-arrow-circle-left fa-2x"></i><br />Back</a></div>
            <div class="col-6"><button type="submit" value="Delete" class="btn btn-danger btn-lg"><i class="fa-solid fa-trash fa-2x"></i><br />Delete</button></div>
        </div>
    </form>
</div>
