@model LifelogBb.Models.Home.IndexDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-xl">
    <div class="row row-deck row-cards">
        @if (Model.LastWeight != null)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="bg-primary text-white avatar"><i class="fa-solid fa-weight-scale icon icon-tabler icon-tabler-weight"></i></span></div>
                            <div class="col">
                                <div class="font-weight-medium">Last Weight</div>
                                <div class="text-muted">@Model.LastWeight.BodyWeight</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.LastStrengthTraining != null)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="bg-primary text-white avatar"><i class="fa-solid fa-dumbbell icon icon-tabler icon-tabler-weight"></i></span></div>
                            <div class="col">
                                <div class="font-weight-medium">Last Strength Training</div>
                                <div class="text-muted">@Model.LastStrengthTraining.CreatedAt.ToLongDateString()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.LastEnduranceTraining != null)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="bg-primary text-white avatar"><i class="fa-solid fa-running icon icon-tabler icon-tabler-weight"></i></span></div>
                            <div class="col">
                                <div class="font-weight-medium">Last Endurance Training</div>
                                <div class="text-muted">@Model.LastEnduranceTraining.CreatedAt.ToLongDateString()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.RandomBucketList != null)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body">
                        @if (Model.RandomBucketList.ImageName != null)
                        {
                            <img src="@Url.Action("GetImage", "BucketLists", new { id = Model.RandomBucketList.Id })" class="card-img-top" alt="@Html.DisplayFor(modelItem => Model.RandomBucketList.Title)" />
                        }
                        <h5 class="card-title">@Model.RandomBucketList.Title</h5>
                        <p class="card-text">@Model.RandomBucketList.Description</p>
                    </div>
                </div>
            </div>
        }        
        @if (Model.RandomQuote != null)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-header">
                        Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@Model.RandomQuote.Text</p>
                            <footer class="blockquote-footer"><cite>@Model.RandomQuote.Author</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        }

        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
