@model LifelogBb.Models.Home.IndexDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-xl">
    <div class="row row-deck row-cards">
        @if (Model.WeightList != null && Model.WeightList.Count > 0)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="bg-primary text-white avatar"><i class="fa-solid fa-weight-scale icon icon-tabler icon-tabler-weight"></i></span></div>
                            <div class="col">
                                <div class="font-weight-medium">Last Weight</div>
                                <div class="text-muted">
                                    @if(Model.WeightList.Count > 1)
                                    {
                                        @if (Model.WeightList.Last().BodyWeight > Model.WeightList.First().BodyWeight)
                                        {
                                            <i class="fa-solid fa-arrow-up text-red"></i>
                                        }
                                        else if (Model.WeightList.Last().BodyWeight < Model.WeightList.First().BodyWeight)
                                        {
                                            <i class="fa-solid fa-arrow-down text-green"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-minus"></i>
                                        }
                                    }
                                    @Model.WeightList.Last().BodyWeight
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.WeightList != null && Model.WeightList.Count > 1)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="bg-primary text-white avatar"><i class="fa-solid fa-weight-scale icon icon-tabler icon-tabler-weight"></i></span></div>
                            <div class="col">
                                <div class="text-muted">
                                    <div id="weightChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.LastStrengthTraining != null)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="bg-primary text-white avatar"><i class="fa-solid fa-dumbbell icon icon-tabler icon-tabler-weight"></i></span></div>
                            <div class="col">
                                <div class="font-weight-medium">Last Strength Training</div>
                                <div class="text-muted">@Model.LastStrengthTraining.CreatedAt.ToLongDateString()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.LastEnduranceTraining != null)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="bg-primary text-white avatar"><i class="fa-solid fa-running icon icon-tabler icon-tabler-weight"></i></span></div>
                            <div class="col">
                                <div class="font-weight-medium">Last Endurance Training</div>
                                <div class="text-muted">@Model.LastEnduranceTraining.CreatedAt.ToLongDateString()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.Activities != null)
        {
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="divide-y">
                            @foreach (var item in Model.Activities)
                            {
                                <div>
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="avatar">@item.Type</span>
                                        </div>
                                        <div class="col">
                                            <div class="text-truncate">
                                                @item.Text
                                            </div>
                                            <div class="text-muted">@item.Date.ToString()</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.TodoList != null)
        {
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="divide-y">
                            @foreach (var item in Model.TodoList)
                            {
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-truncate">@item.Title</div>
                                        </div>
                                        @if (item.DueDate != null)
                                        {
                                            <div class="col-auto">
                                                <span class="text-muted">@item.DueDate.Value.ToShortDateString() @item.DueDate.Value.ToShortTimeString()</span>
                                                <div class="badge bg-red"><span class="fas fa-clock"></span></div>
                                            </div>
                                        }
                                        @if (item.IsImportant)
                                        {
                                            <div class="col-auto align-self-center">
                                                <div class="badge bg-red">!</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.GoalList != null)
        {
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="divide-y">
                            @foreach (var item in Model.GoalList)
                            {
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-truncate">@item.Name</div>
                                        </div>
                                        @if (item.CurrentValue != null)
                                        {
                                            <div class="col-auto">
                                                <span class="fas fa-clock"></span> @item.CurrentValue.Value.ToString()
                                            </div>
                                        }
                                        @if (item.TargetValue != null)
                                        {
                                            <div class="col-auto">
                                                <span class="fas fa-bullseye"></span> @item.TargetValue.Value.ToString()
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.HabitList != null)
        {
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="divide-y">
                            @foreach (var item in Model.HabitList)
                            {
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-truncate">@item.Name</div>
                                        </div>
                                        @if (item.StartDate != null)
                                        {
                                            <div class="col-auto">
                                                <span class="fas fa-clock"></span> @item.StartDate.Value.ToShortDateString() @item.StartDate.Value.ToShortTimeString()
                                            </div>
                                        }
                                        @if (item.EndDate != null)
                                        {
                                            <div class="col-auto">
                                                <span class="far fa-clock"></span>
                                                @if(item.StartDate != null && item.EndDate.Value.Date != item.StartDate.Value.Date)
                                                {
                                                    @item.EndDate.Value.ToShortDateString()
                                                }
                                                @item.EndDate.Value.ToShortTimeString()
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.RandomBucketList != null)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body">
                        @if (Model.RandomBucketList.ImageName != null)
                        {
                            <img src="@Url.Action("GetImage", "BucketLists", new { id = Model.RandomBucketList.Id })" class="card-img-top" alt="@Html.DisplayFor(modelItem => Model.RandomBucketList.Title)" />
                        }
                        <h5 class="card-title">@Model.RandomBucketList.Title</h5>
                        <p class="card-text">@Model.RandomBucketList.Description</p>
                    </div>
                </div>
            </div>
        }

        @if (Model.RandomQuote != null)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-header">
                        Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@Model.RandomQuote.Text</p>
                            <footer class="blockquote-footer"><cite>@Model.RandomQuote.Author</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/tabler/core/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script type="text/javascript">

        var weightChartOptions = {
            chart: {
                sparkline: {
                    enabled: true
                },
                type: 'line',
                height: 40,
            },
            stroke: {
                curve: 'smooth'
            },
            colors: ["#4c79b3"],
            xaxis: {
                type: "datetime",
            },
            tooltip: {
                fixed: {
                    enabled: false
                },
                x: {
                    show: false
                },
                y: {
                    title: {
                        formatter: function (seriesName) {
                            return ''
                        }
                    }
                },
                marker: {
                    show: false
                }
            },
            series: [{
                name: 'weight',
                data: [
                    @if(Model.WeightList != null && Model.WeightList.Count > 0) {
                        @foreach (var item in Model.WeightList)
                        {
                            <text>{ x: new Date(@item.CreatedAt.Year, @item.CreatedAt.Month, @item.CreatedAt.Day, @item.CreatedAt.Hour, @item.CreatedAt.Minute), y: @item.BodyWeight.ToString().Replace(',', '.') },</text>
                        }
                    }
                ]
            }],
        }

        var weightChart = new ApexCharts(document.querySelector(`#weightChart`), weightChartOptions);
        weightChart.render();
    </script>
}
