@model LifelogBb.Models.Home.IndexDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-xl">
    <div class="row row-deck row-cards">
        @if (Model.LastWeight != null)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card card-sm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span class="bg-primary text-white avatar">
                                    <!-- https://tabler-icons.io/ -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-weight" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path d="M6.835 9h10.33a1 1 0 0 1 .984 .821l1.637 9a1 1 0 0 1 -.984 1.179h-13.604a1 1 0 0 1 -.984 -1.179l1.637 -9a1 1 0 0 1 .984 -.821z"></path></svg>                               
                                </span>
                            </div>
                            <div class="col">
                                <div class="font-weight-medium">
                                    Last Weight
                                </div>
                                <div class="text-muted">
                                    @Model.LastWeight.BodyWeight
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.LastEnduranceTraining != null || Model.LastStrengthTraining != null)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Training</h5>
                        <p class="card-text">Last endurance training: @(Model.LastEnduranceTraining != null ? Model.LastEnduranceTraining.CreatedAt.ToString() : "-")</p>
                        <p class="card-text">Last strength training: @(Model.LastStrengthTraining != null ? Model.LastStrengthTraining.CreatedAt.ToString() : "-")</p>
                    </div>
                </div>
            </div>
        }
        @if (Model.RandomBucketList != null)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body">
                        @if (Model.RandomBucketList.ImageName != null)
                        {
                            <img src="@Url.Action("GetImage", "BucketLists", new { id = Model.RandomBucketList.Id })" class="card-img-top" alt="@Html.DisplayFor(modelItem => Model.RandomBucketList.Title)" />
                        }
                        <h5 class="card-title">@Model.RandomBucketList.Title</h5>
                        <p class="card-text">@Model.RandomBucketList.Description</p>
                    </div>
                </div>
            </div>
        }
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        
        @if (Model.RandomQuote != null)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-header">
                        Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@Model.RandomQuote.Text</p>
                            <footer class="blockquote-footer"><cite>@Model.RandomQuote.Author</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
