@model LifelogBb.Models.Entities.BucketList

@{
    ViewData["Title"] = "Bucket list";
    ViewData["Pretitle"] = "Details";
    ViewData["PrimaryAction"] = "create";
    ViewData["SecondaryAction"] = "vision";
}

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImageName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImageName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UpdatedAt)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <a class="btn btn-link" asp-action="Index">Back</a>
                        <a class="btn btn-danger ms-auto" asp-action="Delete" asp-route-id="@Model?.Id" role="button"><i class="fas fa-trash icon"></i> Delete</a>
                        <a class="btn btn-dark ms-auto" asp-action="Edit" asp-route-id="@Model?.Id" role="button"><i class="fas fa-pen icon"></i> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
