@model IEnumerable<LifelogBb.Models.BucketLists.IndexBucketListViewModel>

@{
    ViewData["Title"] = "Bucket list";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary btn-lg" asp-action="Create" role="button"><i class="fas fa-plus-square fa-4x"></i><br />New</a>
        </div>
        <div class="col-6">
            <a class="btn btn-success btn-lg" asp-action="VisionBoard" role="button"><i class="fas fa-image fa-4x"></i><br />Vision board</a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card text-bg-dark h-100">
                    @if (item.ImageName != null)
                    {
                        <img src="@Url.Action("GetImage", "BucketLists", new { id = item.Id })" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Title)" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">
                            @if(item.Status == LifelogBb.Models.Entities.BucketListStatus.Reached)
                            {
                                <span class="badge text-bg-success">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == LifelogBb.Models.Entities.BucketListStatus.InProgress)
                            {
                                <span class="badge text-bg-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else
                            {
                                <span class="badge text-bg-secondary">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            <span class="badge text-bg-info">@Html.DisplayFor(modelItem => item.Category)</span>
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
