@model IEnumerable<LifelogBb.Models.Entities.Weight>

@{
    ViewData["Title"] = "Weight";
    ViewData["PrimaryAction"] = "create";
    ViewData["SecondaryAction"] = "graph";
}

@functions {
    string GetBmiColorClass(LifelogBb.Models.Entities.Weight weight)
    {
        if (weight.Bmi < 18.5)
        { // < 18,49
            return "colunder";
        }
        else if (weight.Bmi < 25.0)
        { // 18,50–24,99
            return "colnormal";
        }
        else if (weight.Bmi < 30.0)
        { // 25,00–29,99
            return "colover1";
        }
        else if (weight.Bmi < 35.0)
        { // 30,00–34,99
            return "colover2";
        }
        else
        { // ≥ 35,00
            return "colover3";
        }
    }
}

<div class="container text-center">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bmi)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CreatedAt)</a>
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.BodyWeight) kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height) cm
                    </td>
                    <td class="@GetBmiColorClass(item)">
                        @Html.DisplayFor(modelItem => item.Bmi)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
