@model IEnumerable<LifelogBb.Models.Weight.Weight>

@{
    ViewData["Title"] = "Weight";
}

@functions {
    string GetBmiColorClass(LifelogBb.Models.Weight.Weight weight)
    {
        if (weight.Bmi < 18.5M)
        { // < 18,49
            return "colunder";
        }
        else if (weight.Bmi < 25.0M)
        { // 18,50–24,99
            return "colnormal";
        }
        else if (weight.Bmi < 30.0M)
        { // 25,00–29,99
            return "colover1";
        }
        else if (weight.Bmi < 35.0M)
        { // 30,00–34,99
            return "colover2";
        }
        else
        { // ≥ 35,00
            return "colover3";
        }
    }
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary btn-lg" asp-action="Create" role="button"><i class="fas fa-plus-square fa-4x"></i><br />New</a>
        </div>
        <div class="col-6">
            <a class="btn btn-success btn-lg" asp-action="Graph" role="button"><i class="fas fa-chart-bar fa-4x"></i><br />Graph</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bmi)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CreatedAt)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BodyWeight) kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height) cm
                    </td>
                    <td class="@GetBmiColorClass(item)">
                        @Html.DisplayFor(modelItem => item.Bmi)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
