@model IEnumerable<LifelogBb.Models.Weight.Weight>

@{
    ViewData["Title"] = "Weight";
}

@functions {
    string GetBmiColorClass(LifelogBb.Models.Weight.Weight weight)
    {
        if (weight.Bmi < 18.5M)
        { // < 18,49
            return "colun";
        }
        else if (weight.Bmi < 25.0M)
        { // 18,50–24,99
            return "colno";
        }
        else if (weight.Bmi < 30.0M)
        { // 25,00–29,99
            return "colov";
        }
        else if (weight.Bmi < 35.0M)
        { // 30,00–34,99
            return "colo1";
        }
        else
        { // ≥ 35,00
            return "colo2";
        }
    }
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bmi)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BodyWeight) kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height) cm
                    </td>
                    <td class="@GetBmiColorClass(item)">
                        @Html.DisplayFor(modelItem => item.Bmi)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen fa-2x"></i></a> <i class="fa-solid fa-grip-lines-vertical fa-2x opacity-0"></i>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-file-lines fa-2x"></i></a> <i class="fa-solid fa-grip-lines-vertical fa-2x opacity-0"></i>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash fa-2x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
