@model IEnumerable<LifelogBb.Models.Entities.StrengthTraining>

@{
    ViewData["Title"] = "Strength Training";
    ViewData["PrimaryAction"] = "create";
    ViewData["SecondaryAction"] = "graph";
}

<div class="container text-center">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exercise)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reps)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    Total
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CreatedAt)</a>
                    </th>
                    <td>
                        <a asp-action="Graph" asp-route-exercise="@item.Exercise">@Html.DisplayFor(modelItem => item.Exercise)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reps)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @(string.Format("{0:0.00}", item.Reps * item.Weight))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating, "Rating")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
