@model IEnumerable<LifelogBb.Models.Entities.Todo>

@{
    ViewData["Title"] = "ToDos";
    ViewData["PrimaryAction"] = "create";
}

@functions {
    string DateToColor(LifelogBb.Models.Entities.Todo item)
    {
        if(!item.DueDate.HasValue)
        {
            return "colgreen";
        }

        DateTime now = DateTime.Now;
        DateTime days7 = item.DueDate.Value.AddDays(-7);
        if (item.DueDate < now)
        {
            return "colred";
        } else if (days7 < now)
        {
            return "colorange";
        }

        return "colgreen";
    }
}

<div class="container text-center">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCompleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsImportant)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CreatedAt)</a>
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="@DateToColor(item)">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCompleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsImportant)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
