@model string?

@{
    var dayRules = new[] { "MO", "TU", "WE", "TH", "FR", "SA", "SU" };
    var dayShort = new[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" };
    var dayLong = new[] { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
    var monthLong = new[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
}

<label for="RecurrenceRules" class="control-label mb-1">Recurrence Rules</label>
<input name="RecurrenceRules" id="RecurrenceRules" class="form-control form-control-lg" value="@Model" hidden />
<div id="rruleEditorText"></div>
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rruleEditorModal"><i class="fas fa-pen icon"></i> Edit rules</button>
</div>

<div class="modal fade" id="rruleEditorModal" tabindex="-1" aria-labelledby="rruleEditorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rruleEditorModalLabel">Recurrence Rules Editor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Repeat</label>
                    <select class="form-select" id="rruleEditorModalFrequency">
                        <option value="0">Yearly</option>
                        <option value="1">Monthly</option>
                        <option value="2">Weekly</option>
                        <option value="3">Daily</option>
                    </select>
                </div>
                <div class="input-group mb-3" id="rruleEditorModalIntervalContainer">
                    <span class="input-group-text">every</span>
                    <input type="number" class="form-control" id="rruleEditorModalIntervalInput" value="1" min="1" max="1000" />
                    <span class="input-group-text" id="rruleEditorModalIntervalInfo"></span>
                </div>
                <div class="input-group mb-3" id="rruleEditorModalByDayContainer">
                    <div class="btn-group" role="group">
                        @for(int i = 0; i < dayRules.Length; i++)
                        {
                            <input type="checkbox" class="btn-check" id="rruleEditorModalByDayInput@(dayRules[i])" name="rruleEditorModalByDayInput" value="@dayRules[i]" autocomplete="off">
                            <label class="btn btn-outline-primary" for="rruleEditorModalByDayInput@(dayRules[i])">@dayShort[i]</label>
                        }
                    </div>
                </div>
                <div class="row" id="rruleEditorModalYearlyByContainer">
                    <div class="col-lg-3">
                        <div class="mb-3">
                            By month
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="mb-3">
                            <select class="form-select" id="rruleEditorModalByMonthInput" multiple>
                                @for (int i = 1; i <= monthLong.Length; i++)
                                {
                                    <option value="@i">@monthLong[i-1]</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="rruleEditorModalMonthlyByContainer1">
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label class="form-check mt-2">
                                <input class="form-check-input" type="radio" id="rruleEditorModalMonthlyByInputBYMONTHDAY" name="rruleEditorModalMonthlyByInput" value="BYMONTHDAY">
                                <span class="form-check-label">On day(s)</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="mb-3">
                            <select class="form-select" id="rruleEditorModalByMonthDayInput" multiple>
                                @for(int i = 1; i <= 31; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="rruleEditorModalMonthlyByContainer2">
                    <div class="col-lg-3">
                        <div class="mb-3">
                            <label class="form-check mt-2">
                                <input class="form-check-input" type="radio" id="rruleEditorModalMonthlyByInputBYSETPOS" name="rruleEditorModalMonthlyByInput" value="BYSETPOS">
                                <span class="form-check-label">On the</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="mb-3">
                            <select class="form-select" id="rruleEditorModalBySetPosInput" multiple>
                                @for (int i = 0; i < dayRules.Length; i++)
                                {
                                    <option value="1@(dayRules[i])">First @dayLong[i]</option>
                                    <option value="2@(dayRules[i])">Second @dayLong[i]</option>
                                    <option value="3@(dayRules[i])">Third @dayLong[i]</option>
                                    <option value="4@(dayRules[i])">Fourth @dayLong[i]</option>
                                    <option value="-1@(dayRules[i])">Last @dayLong[i]</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">End</label>
                    <select class="form-select" id="rruleEditorModalEnd">
                        <option value="never">Never</option>
                        <option value="count">After</option>
                        <option value="on">On date</option>
                    </select>
                </div>
                <div class="input-group mb-3" id="rruleEditorModalCountContainer">
                    <input type="number" class="form-control" id="rruleEditorModalCountInput" value="1" min="1" max="1000" />
                    <span class="input-group-text">occurrences</span>
                </div>
                <div class="input-group mb-3" id="rruleEditorModalUntilContainer">
                    <input type="date" class="form-control" id="rruleEditorModalUntilInput" />
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="rruleEditorModalText"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    Close
                </a>
            </div>
        </div>
    </div>
</div>
